/* 1. Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Style Variables */
:root {
  --bg-color: #151226;
  --secondary-bg: #322f31;
  --accent-copper: #c08b5c;
  --accent-teal: #1d4e5f;
  --accent-terracotta: #bc5d41;
  --text-color: #f5d188;
  --heading-font: "Roboto Slab", sans-serif;
  --body-font: "Open Sans", sans-serif;
}

/* 3. Main Body Setup */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--body-font);
  line-height: 1.6;
  overflow-x: hidden;
}

/* 4. Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--accent-copper);
}
/* 5. Basic Elements Reset */
a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s ease;
}

img {
  max-width: 100%;
  display: block;
}
.home-page {
  display: grid;
  grid-template-areas:
    "header header"
    "ceo ceo"
    "ceo ceo"
    "footer footer";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 30px;
  padding: 20px 30px;
}
header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
header img {
  max-width: 250px;
  height: auto;
  border: 1px solid var(--secondary-bg);
  border-radius: 18px;
  filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.5));
}
header nav {
  width: 100%;
  height: 330px;
  padding: 50px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: flex-end;
  left: 0;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  border: 1px solid var(--secondary-bg);
  border-radius: 18px;
  padding: 20px 30px;
  box-shadow: 0px 18px 18px 0px rgba(0, 0, 0, 0.5);
}
header nav ul li {
  display: block;
  margin-left: 50px;
}
header nav ul li a {
  color: var(--text-color);
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
header nav ul li a:hover {
  transform: scale(1.3);
  color: var(--accent-terracotta);
}
main {
  grid-area: ceo;
  display: grid;
  grid-template-areas:
    "hero hero"
    "ceo mission";
  gap: 30px;
}
.hero-section {
  grid-area: hero;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/home/home-hero.jpg") no-repeat center/cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 15px;
}
.hero-overlay {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
}
.hero-section-text {
  text-align: center;
  color: var(--text-color);
}
.statement h2 {
  margin-bottom: 20px;
}
.home-left-section {
  grid-area: ceo;
  max-height: 480px;
  overflow: hidden;
  padding: 20px;
  margin-top: 25px;
  border-left: 1px solid var(--accent-terracotta);
  transition: max-height 0.8s ease-in-out;
  position: relative;
  border-radius: 15px;
}
.home-left-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(transparent, var(--bg-color));
  transition: 0.3s;
}
.read-more-btn {
  grid-area: ceo;
  align-self: end;
  justify-self: center;
  margin-top: 10px;
  z-index: 10;
  cursor: pointer;
}
.read-more-btn::before {
  content: "Read More";
  display: inline-block;
  color: var(--accent-copper);
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease;
}
#read-more-checker:checked + .home-left-section {
  max-height: 3000px;
}
#read-more-checker:checked ~ .read-more-btn::before {
  content: "Show Less";
  color: var(--accent-terracotta);
}
#read-more-checker:checked + .home-left-section::after {
  opacity: 0;
}
.home-right-section {
  grid-area: mission;
  padding: 20px;
  margin-top: 25px;
  border-left: 1px solid var(--accent-terracotta);
  border-radius: 15px;
}
.commitment h2 {
  margin-bottom: 20px;
}
.home-right-section ol {
  list-style: disc;
  list-style-position: inside;
}
.header-align {
  margin-top: 20px;
}
footer {
  grid-area: footer;
  justify-self: center;
  margin-top: 25px;
}
footer p {
  font-size: 0.8rem;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
}
footer ul li {
  display: block;
  font-size: 2rem;
}
footer ul li a {
  display: inline-block;
  color: var(--text-color);
  transition: all 0.3s ease;
}
footer ul li a:hover {
  transform: scale(1.3);
}
footer ul li a .fa-facebook:hover {
  color: #1877f2;
}
footer ul li a .fa-x-twitter:hover {
  color: #ffffff;
}
footer ul li a .fa-square-linkedin:hover {
  color: #0077b5;
}
footer ul li a .fa-youtube:hover {
  color: #ff0000;
}
footer ul li a .fa-instagram:hover {
  color: #e4405f;
}
